.container {
  margin: 0.8em;
  width: 20%;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.info {
  margin-bottom: 1em;
}

.info h4 {
  margin: 0;
}

.info p {
  font-size: 0.8em;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
